* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    background-color: rgb(13, 163, 138);
    padding-top: 16px;
    color: #fff;
}

header .container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
}

header div.container li {
    display: inline;
    list-style: none;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

header .container li a {
    color: #fff;
    text-decoration: none;
}


header>.container,
footer>.container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}


header nav .container {
    display: flex;
}


nav li {
    list-style: none;
    display: none;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}


nav {
    display: none;
}


nav li a {
    color: #fff;
    text-decoration: none;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 18px 0;
}

section h2 {
    margin-bottom: 16px;
}

.conteudo {
    display: grid;
    grid-template-columns: 100%;
}

.produto img {
    max-width: 100%;
}

.produto h3 {
    margin: 16px 0;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.preco {
    margin: 16px 0;
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(136, 247, 195);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    border-radius: 6px;

}

.clear {
    clear: both;
}

.social-media img {
    height: 50px;
}

.social-media li {
    display: inline;

}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .produtos {
        display: block;
    }

    .menu {
        display: none;
    }

    #sobre-a-loja .container {
        display: block;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        margin-top: 1em;
    }

    #sobre-a-loja img {
        max-width: 100%;
        margin-right: 0;

    }

    nav {
        background-color: rgb(136, 247, 195);
        padding: 16px 0;
        display: flex;
    }

    .produto img {
        margin-right: 0;
    }

    .produto a {
        display: block;
        font-size: 1.5em;
    }

    footer {
        font-size: 8px;
        display: flex;
    }

    .produtos .produto {
        margin-bottom: 32px;
    }


    .menu-hamburguer {
        width: 32px;
        cursor: pointer;
    }


    .menu-hamburguer span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .produto {
        font-size: 1.5em;
    }

    div.produtos {
        margin-bottom: 50px;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
    }

    .produto img {
        max-height: 395px;
    }


}